{{ partial:courses/default/partials/card href="{{ href }}" thumbnail_url="{{ thumbnail_url }}" checked="{{ enrolled }}" checked_title="Enrolled" title="{{ title }}" description="{{ description }}" }}
    <button class="text-sm px-4 py-2 rounded font-bold cursor-pointer mt-6 text-yellow-600 border-2 border-yellow-600 bg-transparent">
        {{ if {enrolled} }}
            <span>Get started</span>
        {{ else }}
            <span>Learn more</span>
        {{ /if }}
    </button>
{{ /partial:courses/default/partials/card }}
