<div class="md:flex md:items-center mb-8">
    <div class="md:w-1/3">
        <label class="text-sm font-bold block text-slate-500 md:text-right mb-1 md:mb-0 pr-4" for="{{ id }}">{{ title }}</label>
    </div>
    <div class="md:w-2/3">
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" class="bg-slate-100 appearance-none border-2 border-slate-100 rounded w-full py-2 px-4 text-slate-700 leading-tight focus:outline-none focus:bg-white focus:border-yellow-500" id="{{ id }}" />
    </div>
</div>
